<main>
  <h1>Клиенты</h1>
  <div class="table-container">
    <img class="add" [src]="'assets/add.svg'">
    <img class="delete" [src]="'assets/delete.svg'">
    <table>
      <thead>
      <tr>
        <th>
          <input class="checkbox" type="checkbox">
        </th>
        <th>Имя</th>
        <th>E-mail</th>
        <th>Телефон</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of clients?.users">
        <td>
          <input class="checkbox" type="checkbox">
        </td>
        <td>{{ user.name }} {{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
